@import "tailwindcss";

@font-face {
  font-family: "Roobert";
  src: url("./fonts/Roobert-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "MiSans";
  src: url("./fonts/MiSans-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: #06120d;
}
